@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
    .background{
        background:white;
    }
</style>
<div style="position: absolute; right: 10%; bottom: 5%">
    <img src="https://s.ppy.sh/images/404pippi.jpg">
    <div style="position: relative">
        <div style="position: absolute; top: -620px; left: -215px;">
            <div style="width: 360px; background: #fff; border-radius: 10px; text-align: center;">
                <div style="font-size:150%">The page you were looking for can't be found...</div>
                <div style="font-size:90%">or something went seriously wrong!</div>
            </div>
        </div>
    </div>
</div>